- name: Install KDE
  pacman: name={{ item }} state=present
  with_items:
          - plasma-desktop
          - sddm
          - dolphin
          - kde-applications
  become: true

- name: Loading display manager
  file:
    src: /usr/lib/systemd/system/sddm.service
    dest: /etc/systemd/system/display-manager.service
    state: link
  become: true

- name: Some default applications
  pacman: name={{ item }} state=present
  with_items:
    - okular
    - akonadi
    - kdepim-addons
    - telepathy
    - kcalc
  become: true

- name: Bluetooth
  pacman: name={{ item }} state=present
  with_items:
    - bluez
    - bluez-utils
  become: true

- name: Bluetooth power on
  command: bluetoothctl power on

- name: Bluetooth service
  service:
    name: bluetooth
    state: started
    enabled: yes
  become: true

- name: Printing (CUPS)
  pacman:
    name: "{{ item }}"
    state: present
  with_items:
    - cups
    - cups-pdf
    - avahi
    - nss-mdns
  become: true

- name: Add user to sys group for managing CUPS
  user:
    name: "{{ user.name }}"
    groups: sys
    append: yes
  become: true


- name: Printing configuration
  copy:
    src: "{{ role_path }}/files/{{ item }}"
    dest: /etc/{{ item }}
  with_items:
    - nsswitch.conf
  become: true

- name: Printing services
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  with_items:
    - org.cups.cupsd.service
    - avahi-daemon.service
  become: true

- name: Fonts
  pacman:
    name: "{{ item }}"
    state: present
  with_items:
    - ttf-freefont
    - ttf-croscore
    - ttf-liberation
    - noto-fonts-emoji
  become: true

# - name: Fonts from AUR
#   aur: name={{ item }} user="{{ user.name }}"
#   with_items:
#     - ttf-selawik
#     - ttf-twemoji-color
#   become: true
