- name: Install SUDO
  apt: name=sudo state=present
  become: true

- name: Add user to wheel group
  user:
    name: "{{ user.name }}"
    groups: wheel
    append: yes
  become: true

- name: Sudo configuration
  template: src=sudoers.j2 dest=/etc/sudoers mode=440 validate='visudo -cf %s'
  become: true

