- name: Install Git
  pacman: name={{ item }} state=present
  with_items:
    - git
  become: true

- name: Git configuration
  file:
    src: "{{ role_path }}/files/git/{{ item }}"
    dest: /home/{{ user.name }}/.{{ item }}
    state: link
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
  with_items:
    - gitconfig
    - gitmessage
    - gitignore
